.Datear__background {
  height: 100%;
  width: 100%;
  background-color: #f3f3f3;
  font-family: 'poppins', sans-serif;
  .Datear__header {
    background: linear-gradient(
    #024b18a1,
    #00000088
    ), url('https://www.wallpapertip.com/wmimgs/32-329526_game-banners-cs-go.jpg');
  
    background-position: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
    box-shadow: 1px 1px 1px 1px black;

    color: white;

    text-transform: uppercase;

    .nav {
      width: 100%;
      height: 10%;
      /* height: auto; */
      padding: 10px 0;
      display: flex;
      justify-content: flex-end;
      ul {
        display: flex;
        list-style: none;
        margin-top: 20px;
        margin-right: 20px;
        li {
          margin-right: 2px;
          .a {
            padding: 10px 20px;
            text-decoration: none;
            color: white;
          }
          .a:hover {
            background-color: rgba(255, 255, 255, 0.411);
          }
        }
      }
    }
    
  }
  .Datear__container {
    padding: 40px 40px;
    display: flex;
    overflow: hidden;
  }
}

.Datear__logo {
  height: 90%;
  
  display: flex;
  justify-content: center;
  align-items: center;

  .Datear_logo_container {
    display: flex;
    flex-direction: column;
    text-transform: none;
    text-align: center;

    .Datar__img {
      background-image: url('../assets/datear_logo.png');
      background-repeat: no-repeat;
      background-position: 100%;
      background-size: contain;
      height: 150px;
      width: 150px;
      border-radius: 100%;
      margin-bottom: 10px;
    }
  }
}

.Datear__table {
  width: 70%;
}

.Datear__items {/* 
  border: 1px solid rgb(133, 133, 133); */
  /* display: flex; */
  border-radius: 8px;
  height: 300px;
  margin-bottom: 10px;
  background-color: #ffff;
  box-shadow: 1px 2px 4px 2px rgb(173, 173, 173);

  padding: 25px 40px;

  .Datear__item_server {
    display: flex;
    width: 100%;
    padding: auto;
    overflow: hidden;
    margin-bottom: 20px;
    .Datear__item_header {
      display: flex;
      width: 30%;
      height: 60px;
      overflow: hidden;
      .Datear__item_img {
        height: 60px;
        width: 60px;
        border: 1px solid rgba(0, 0, 0, 0.603);
        box-shadow: 1px 2px 4px 2px rgb(173, 173, 173);
        border-radius: 100%;
      }
      .Datear__item_title {
        margin-left: 10px;
        display: flex;
        align-self: center;
        text-transform: uppercase;
      }
    }

    .Datear__item_datas {
      width: 70%;
      overflow: hidden;
      .Datear__item_list {
        list-style: none;
        text-align: end;
      }
    }

  }
  
  .Datear__item_desc {
    border: 1px solid rgb(168, 168, 168);
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    padding: 10px 15px;
  }

  .Datear__item_footer {
    a {
      display: block;
      text-align: center;
      line-height: 2;
      height: 30px;
      width: 160px;
      float: right;
      text-decoration: none;
      background: #378C3F;
      color: #f3f3f3;
    }
    a:hover {
      background: #2f7536;
    }
  }
}

.Datear__article {
  /* border: 1px solid rgb(133, 133, 133); */
  width: 30%;
  height: 700px;
}